[submodule "NightFall/vendor/spdlog"]
	path = NightFall/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "NightFall/vendor/GLFW"]
	path = NightFall/vendor/GLFW
	url = https://github.com/Velonex/glfw
