[submodule "NightFall/vendor/spdlog"]
	path = Raven/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "NightFall/vendor/GLFW"]
	path = Raven/vendor/GLFW
	url = https://github.com/Velonex/glfw
	branch = master
[submodule "NightFall/vendor/ImGui"]
	path = Raven/vendor/ImGui
	url = https://github.com/Velonex/imgui
	branch = docking
[submodule "NightFall/vendor/glm"]
	path = Raven/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
